<h1>User Info- <%= @user.username %></h1>


<h2>Contact User</h2>

<%= mail_to @user.email, "Email Me" %>

<%= cl_image_tag @user.image %>



<h2>All Products From User <%= @user.username %></h2>



<% @user.products.each do |product| %>

<%= link_to product do %>
<div class='index' >

  <ul class='index2'>
    <li> <%= link_to product.name, product %> </li>
    <li> Price:  <%= number_to_currency(product.price) %> </li>
    <li> Location: <%= product.location%> </li>
  </ul>
</div>

<% end %>
<% end %>
