<h1>Product Info</h1>


<h2><%= @product.name %></h2>

  <ul>
    <li>Name: <%= @product.name %></li>

    <li>Price: $<%= @product.price %></li>

    <li>Location: <%= @product.location %></li>

    <li>Shipping: <%= @product.shipping %></li>

    <li>Condition: <%= @product.condition %></li>

    <li>Description: <%= @product.description %></li>

<iframe src='https://maps.google.com/maps?q=<%= @product.latitude %>,<%= @product.longitude %>&amp;output=embed' frameborder='0' style='border:0' width='750' height='300' allowfullscreen></iframe>

  <% if @product.category.present? %>
    <li> Category: <%= link_to @product.category.name, @product.category  %></li>
  <% end %>
  <% if @product.user.present? %>
    <li> Seller: <%= link_to @product.user.username, @product.user %></li>

  <% end %>

  </ul>
<%= button_to "Add #{@product.name} to cart", line_items_path(:product_id => @product.id) %>



<%= image_tag @product.image, :class => 'feature' %>
